<h1>Editing protfoilo</h1>

<%= render "form", protfoilo: @protfoilo %>

<br>

<div>
  <%= link_to "Show this protfoilo", @protfoilo %> |
  <%= link_to "Back to protfoilos", protfoilos_path %>
</div>
